@mixin flex($align: unset, $justify: unset) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin center() {
    @include flex(center, center);
}

@mixin trn($s: 0.2, $el: all) {
    transition: $el #{$s}s ease-in-out;
}

@mixin media($width) {
    @media screen and (max-width: #{$width}px) {
        @content;
    }
}
