// Fonts

$main-font: "Lexend", sans-serif;

// Colors

$gray-color: #b6b8bf;
$light-grey: #efefef;
$green-brand: #359740;
$light-green: #eaf1eb;
$text-primary: #1f2533;
$white: #fff;
$black: #000;
$danger: #e55c5c;
